<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        {% stylesheets '@OpenSocialBundle/Resources/public/css/*'
                       '@OpenSocialBundle/Resources/public/css/ui-lightness/*'
        output='css/main.css'
        filter='?yui_css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        
        {% javascripts '@OpenSocialBundle/Resources/public/js/*'
        output='js/main.js'
        filter='?yui_js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        <title>{% block title %}Wixet{% endblock %}</title>
        

        
        {% image '@OpenSocialBundle/Resources/public/images/favicon.ico'
        output='images/favicon.ico'
        %}
        <link rel="shortcut icon" href="{{ asset_url }}" />
        {% endimage %}
    </head>
    <body>

		{% block body_content %}
		{% endblock %}
            
            
         <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="ajaxLoading" style="
			z-index:5000;
			bottom:0;
			height:2.5em;
			right:0px;
			position:fixed;">
			{% image '@OpenSocialBundle/Resources/public/images/progress.gif'
				output='images/progress.gif'
				%}
				<img class="ui-state-default ui-corner-all" src="{{ asset_url }}" />
			{% endimage %}
        
			
			</div>

    </body>
</html>
